/* misc */
.dialogButtons{text-align: right;}
.exfHidden{display:none !important};

/* Bootstrap customization */
ul.dropdown-menu li {padding: 4px 0;}
.tab-content>.tab-pane {height: initial !important;}
.exf_input>.form-group {margin-bottom: initial;}

/* DataTables customization */
.dataTable .detailRow table {width:initial; margin: initial;}
.dataTable td.ok{background-color: green;}
.dataTable td.warning{background-color: yellow;}
.dataTable td.error{background-color: red; color: white;}
.dataTable thead th {text-align: center;}
.dataTable tfoot th.dt-body-right {padding-right: 10px;}
.dataTable tr.detailRow table {width: initial;}

/* jQuery NumPad */
td.nmpd-target{border: 1px solid #d2d6de !important;}

/* DataList */
.datalist-value {margin: 2px 5px;}
.exf-datalist .placeholder {padding: 8px; line-height: 1.42857143; vertical-align: top; border-top: 1px solid #ddd; background-color: #f9f9f9;}

/* Inputs */
.exface_inputgroup {border-width: 1px 0 0 0; padding: 10px 0 20px 0;}
.invalid .form-control {
	border-color: #ffa8a8;
	background-color: #fff3f3;
}
.ms-sel-ctn input, .ms-ctn input:focus {background-color: inherit !important};

/* sortable */
body.dragging, body.dragging * {
	cursor: move !important;
}

.dragged {
	position: absolute;
	opacity: 0.7;
	z-index: 2000;
}

ol.sortable {  
	margin: 0;
	padding: 0px;
	list-style: none;
}

ol.sortable li {
	position: relative;
	display: block;
	margin: 5px;
	padding: 5px;
	border-left: 3px solid #e6e7e8;
	color: #444;
	background: #f4f4f4;
}

ol.sortable li .checkbox {margin-top: 5px; margin-bottom: 5px;}
ol.sortable i.handle {margin: 8px 5px;}

ol.sortable li.placeholder {
	position: relative;
	margin: 5x;
	padding: 5x;
	border: 3px dashed #e6e7e8; 
	height: 37px;
}

ol.sortable li.placeholder:before {
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	margin-top: -5px;
	left: -5px;
	top: -4px;
	border: 5px solid transparent;
	border-left-color: red;
	border-right: none; 
}

ol {list-style-type: none; }
ol i.icon-move {cursor: pointer; }
ol li.highlight {background: #333333; color: #999999; }
ol li.highlight i.icon-move {}

/* Navbar */
.navbar-nav > .favorites-menu > .dropdown-menu > li .menu > li > a {
    display: block;
    white-space: nowrap;
    border-bottom: 1px solid #f4f4f4;
}

.navbar-nav > .favorites-menu > .dropdown-menu {
  width: 280px;
  padding: 0 0 0 0;
  margin: 0;
  top: 100%;
}
.navbar-nav > .favorites-menu > .dropdown-menu > li {
  position: relative;
}
.navbar-nav > .favorites-menu > .dropdown-menu > li.header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #ffffff;
  padding: 7px 10px;
  border-bottom: 1px solid #f4f4f4;
  color: #444444;
  font-size: 14px;
}
.navbar-nav > .favorites-menu > .dropdown-menu > li.footer > a {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 12px;
  background-color: #fff;
  padding: 7px 10px;
  border-bottom: 1px solid #eeeeee;
  color: #444 !important;
  text-align: center;
}
@media (max-width: 991px) {
  .navbar-nav > .favorites-menu > .dropdown-menu > li.footer > a {
    background: #fff !important;
    color: #444 !important;
  }
}
.navbar-nav > .favorites-menu > .dropdown-menu > li.footer > a:hover {
  text-decoration: none;
  font-weight: normal;
}
.navbar-nav > .favorites-menu > .dropdown-menu > li .menu {
  max-height: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden;
}
.navbar-nav > .favorites-menu > .dropdown-menu > li .menu > li > a,
.navbar-nav > .favorites-menu > .dropdown-menu > li .menu > li > span.menu-actions > a {
  display: block;
  white-space: nowrap;
  /* Prevent text from breaking */
  border-bottom: 1px solid #f4f4f4;
}
.navbar-nav > .favorites-menu > .dropdown-menu > li .menu > li > a:hover,
.navbar-nav > .favorites-menu > .dropdown-menu > li .menu > li > span.menu-actions > a:hover {
  background: #f4f4f4;
  text-decoration: none;
}
.navbar-nav > .favorites-menu > .dropdown-menu > li .menu > li > a,
.navbar-nav > .favorites-menu > .dropdown-menu > li .menu > li > span.menu-actions > a {
  color: #444444;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
}
.navbar-nav > .favorites-menu > .dropdown-menu > li .menu > li > a > .ion {
  width: 20px;
}

/* Symfony Debugger */
#sf-resetcontent {width: auto !important;} 
#sf-resetcontent h1 {display: none;} 
h2.block_exception.clear_fix {margin: 0}
